header{
    

font-family: "Merriweather", serif;
  
font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: rgb(243, 240, 240);
 /* margin: 530px 177px 531px 383px; */
 margin-top: 177px;

}
.large-banner{
    color: white;
    font-size: 72px;
    line-height: 95px;
    word-wrap: break-word
    

}
body{
    background-image:url(/images/Banner\ Image.png) ;
    background-size : cover;
        background-position: top center; 
        background-repeat: no-repeat; 
        background: linear-gradient() border-radius: 16px
    
}
